<ion-content>
    		<!--head-->
		<div class="head">
			互动信息
		</div>
		<!--End head-->
		<!--nav-->
		<div class="nav">
			<a href="javascript:;" class="col-xs-6 nav_a nav_a01">个人</a>
			<a href="javascript:;" class="col-xs-6 nav_a">商业</a>
		</div>
		<!--End nav-->
		<!--list-->
		<ul class="mian_list">
			<li class="mian_list_li dib">
				<div class="list">
					<a href="javascript:;" class="list_a01">消息提醒</a>
					<a href="javascript:;" class="list_a02">附近的人</a>
					<a href="javascript:;" class="list_a03">匿名聊天</a>
					<a href="javascript:;" class="list_a04">宝币聊天</a>
					<a href="javascript:;" class="list_a05">分享助理</a>
					<dl class="mian_listdl">
						<dt class="col-xs-3"><img src="img/toux.png"/></dt>
						<dd class="col-xs-9">
							<p class="txt">小庆</p>
							<em class="dib txt">我要网高级销售经理</em>
							<i class="dib txt">xx群群管理</i>
						</dd>
					</dl>
					<dl class="mian_listdl">
						<dt class="col-xs-3"><img src="img/toux.png"/></dt>
						<dd class="col-xs-9">
							<p class="txt">小庆</p>
							<em class="dib txt">我要网高级销售经理</em>
							<i class="dib txt">xx群群管理</i>
						</dd>
					</dl>
					<dl class="mian_listdl">
						<dt class="col-xs-3"><img src="img/toux.png"/></dt>
						<dd class="col-xs-9">
							<p class="txt">小庆</p>
							<em class="dib txt">我要网高级销售经理</em>
							<i class="dib txt">xx群群管理</i>
						</dd>
					</dl>						
				</div>								
			</li>
			<li class="mian_list_li">
				<div class="list">
					<a href="javascript:;" class="list_a01">消息提醒</a>
					<a href="javascript:;" class="list_a06">附近商铺</a>
					<a href="javascript:;" class="list_a07">商业助理</a>
					<dl class="mian_listdl">
						<dt class="col-xs-3"><img src="img/toux.png"/></dt>
						<dd class="col-xs-9">
							<p class="txt">小庆</p>
							<em class="dib txt">我要网高级销售经理</em>
							<i class="dib txt">xx群群管理</i>
						</dd>
					</dl>
					<dl class="mian_listdl">
						<dt class="col-xs-3"><img src="img/toux.png"/></dt>
						<dd class="col-xs-9">
							<p class="txt">小庆</p>
							<em class="dib txt">我要网高级销售经理</em>
							<i class="dib txt">xx群群管理</i>
						</dd>
					</dl>
					<dl class="mian_listdl">
						<dt class="col-xs-3"><img src="img/toux.png"/></dt>
						<dd class="col-xs-9">
							<p class="txt">小庆</p>
							<em class="dib txt">我要网高级销售经理</em>
							<i class="dib txt">xx群群管理</i>
						</dd>
					</dl>					
				</div>								
			</li>			
		</ul>
</ion-content>