<!--top-->
<ion-content>
    <div class="head">
        <a href="javascript:;" class="head_lefta">返回</a> 我的账户
        <a href="dengl.html" class="head_righta"><img src="img/333r3e.png" /></a>
        <a href="javscript:;" class="head_righta2"><img src="img/2323.png" /></a>
        <a href="javscript:;" class="head_righta3"><img src="img/23234.png" /></a>
    </div>
    <!--End top-->
    <!--toux-->
    <div class="toux">
        <dl>
            <dt class="col-xs-4"><img src="img/23433.png"/></dt>
            <dd class="col-xs-8">
                <p class="txt">姓名 姓名</p>
                <div class="toux_mc">
                    <span class="col-xs-4 txt">爵位</span>
                    <ul class="col-xs-4">
                        <li class="txt">12345</li>
                        <li class="txt">爵位数</li>
                    </ul>
                    <ul class="col-xs-4">
                        <li class="txt">12345678</li>
                        <li class="txt">平民数</li>
                    </ul>
                </div>
            </dd>
        </dl>
    </div>
    <!--toux-->
    <!--news-->
    <div class="news">
        我要网2016全新模式正式上线
    </div>
    <!--End news-->
    <!--钱包-->
    <div class="qianb">
        <span class="fl">我的钱包</span>
        <em class="gerenbtn fr ">银行卡</em>
        <em class="gerenbtn fr">会员卡</em>
    </div>
    <ul class="geren_list">
        <li class="geren_listli dib">
            <div class="qianb02">
                <ul class="col-xs-3">
                    <li>188.11</li>
                    <li>账户余额</li>
                </ul>
                <ul class="col-xs-3">
                    <li>550000</li>
                    <li>积分</li>
                </ul>
                <ul class="col-xs-3">
                    <li>14000000</li>
                    <li>金积分</li>
                </ul>
                <ul class="col-xs-3">
                    <li>1700</li>
                    <li>宝币</li>
                </ul>
            </div>
        </li>
        <li class="geren_listli">
            <div class="qianb02">
                <ul class="col-xs-3">
                    <li>108.11</li>
                    <li>账户余额</li>
                </ul>
                <ul class="col-xs-3">
                    <li>540000</li>
                    <li>积分</li>
                </ul>
                <ul class="col-xs-3">
                    <li>13000000</li>
                    <li>金积分</li>
                </ul>
                <ul class="col-xs-3">
                    <li>1300</li>
                    <li>宝币</li>
                </ul>
            </div>
        </li>
    </ul>

    <!--End 钱包-->
    <!--option-->
    <div class="option">
        <div class="" id="accordion">
            <div class="panel">
                <div class="panel-heading opt_box02">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">金积分投资</a></h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">我的收藏</div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading opt_box02">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">宝币投资</a></h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">我的分享</div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading opt_box02">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">投资账户</a></h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">我的分享</div>
                </div>
            </div>
            <div class="panel ">
                <div class="panel-heading opt_box02">
                    <h4 class="panel-title"><a data-toggle="collapse"data-parent="#accordion"href="#collapseThree">收货地址管理</a></h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">标题三对应的内容</div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading opt_box02">
                    <h4 class="panel-title"><a data-toggle="collapse"data-parent="#accordion"href="#div4">实名认证</a></h4>
                </div>
                <div id="div4" class="panel-collapse collapse">
                    <div class="panel-body">标题三对应的内容</div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading opt_box02">
                    <h4 class="panel-title"><a data-toggle="collapse"data-parent="#accordion"href="#div5">重要信息变更</a></h4>
                </div>
                <div id="div5" class="panel-collapse collapse">
                    <div class="panel-body">标题三对应的内容</div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading opt_box02">
                    <h4 class="panel-title"><a data-toggle="collapse"data-parent="#accordion"href="#div5">我要网销售奖</a></h4>
                </div>
                <div id="div5" class="panel-collapse collapse">
                    <div class="panel-body">标题三对应的内容</div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading opt_box02">
                    <h4 class="panel-title"><a data-toggle="collapse"data-parent="#accordion"href="#div5">我要网业绩奖</a></h4>
                </div>
                <div id="div5" class="panel-collapse collapse">
                    <div class="panel-body">标题三对应的内容</div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading opt_box02">
                    <h4 class="panel-title"><a data-toggle="collapse"data-parent="#accordion"href="#div5">我要网分享奖</a></h4>
                </div>
                <div id="div5" class="panel-collapse collapse">
                    <div class="panel-body">标题三对应的内容</div>
                </div>
            </div>
        </div>
    </div>
    <!--End option-->
</ion-content>