<ion-content>
    <div class="head">
        <input type="search" name="" id="" value="" />
    </div>
    <div class="nav">
        <a href="javascript:;" class="nav_a01 nav_a ml2">热门用户</a>
        <a href="javascript:;" class="nav_a ml2">明星</a>
        <a href="javascript:;" class="nav_a ml2">匿名聊天达人</a>
        <a href="javascript:;" class="nav_a ml2">黑马营</a>
    </div>
    <!--End head-->
    <!--mian-->
    <div class="mian">
        <ul class="col-xs-6 mian_list" style="border-right: 5px solid #dbdadf;">
            <li>
                <div class="">
                    <dl class="mian_tou">
                        <dt class=""><img src="img/tou.png"/></dt>
                        <dd class="">
                            <span class="txt">戴妃 赛里卖</span>
                            <b class="txt mt2"><img src="img/sanjiao.png"/>我在旅途</b>
                        </dd>
                    </dl>
                    <div class="w100">
                        <img src="img/imgg.png" />
                    </div>
                    <h5 class="mian_h5">2016北京欢乐谷</h5>
                    <div class="mian_btnbox">
                        <a href="javascript:;" class="fl mian_btn1"><img src="img/btn0.png" /></a>
                        <a href="javascript:;" class="fr mian_btn3 txt">22</a>
                        <a href="javascript:;" class="fr mian_btn2 txt">11</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="">
                    <dl class="mian_tou">
                        <dt class=""><img src="img/tou.png"/></dt>
                        <dd class="">
                            <span class="txt">戴妃 赛里卖</span>
                            <b class="txt mt2"><img src="img/sanjiao.png"/>我在旅途</b>
                        </dd>
                    </dl>
                    <div class="w100">
                        <img src="img/imgg.png" />
                    </div>
                    <h5 class="mian_h5">2016北京欢乐谷</h5>
                    <div class="mian_btnbox">
                        <a href="javascript:;" class="fl mian_btn1"><img src="img/btn0.png" /></a>
                        <a href="javascript:;" class="fr mian_btn3">22</a>
                        <a href="javascript:;" class="fr mian_btn2">11</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="">
                    <dl class="mian_tou">
                        <dt class=""><img src="img/tou.png"/></dt>
                        <dd class="">
                            <span class="txt">戴妃 赛里卖</span>
                            <b class="txt mt2"><img src="img/sanjiao.png"/>我在旅途</b>
                        </dd>
                    </dl>
                    <div class="w100">
                        <img src="img/imghh.png" />
                    </div>
                    <h5 class="mian_h5">2016北京欢乐谷</h5>
                    <div class="mian_btnbox">
                        <a href="javascript:;" class="fl mian_btn1"><img src="img/btn0.png" /></a>
                        <a href="javascript:;" class="fr mian_btn3">22</a>
                        <a href="javascript:;" class="fr mian_btn2">11</a>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="col-xs-6 mian_list" style="border-left: 5px solid #dbdadf;">
            <li>
                <div class="">
                    <dl class="mian_tou">
                        <dt class=""><img src="img/tou.png"/></dt>
                        <dd class="">
                            <span class="txt">戴妃 赛里卖</span>
                            <b class="txt mt2"><img src="img/sanjiao.png"/>我在旅途</b>
                        </dd>
                    </dl>
                    <div class="w100">
                        <img src="img/imghh.png" />
                    </div>
                    <h5 class="mian_h5">2016北京欢乐谷</h5>
                    <div class="mian_btnbox">
                        <a href="javascript:;" class="fl mian_btn1"><img src="img/btn0.png" /></a>
                        <a href="javascript:;" class="fr mian_btn3">22</a>
                        <a href="javascript:;" class="fr mian_btn2">11</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="">
                    <dl class="mian_tou">
                        <dt class=""><img src="img/tou.png"/></dt>
                        <dd class="">
                            <span class="txt">戴妃 赛里卖</span>
                            <b class="txt mt2"><img src="img/sanjiao.png"/>我在旅途</b>
                        </dd>
                    </dl>
                    <div class="w100">
                        <img src="img/imgg.png" />
                    </div>
                    <h5 class="mian_h5">2016北京欢乐谷</h5>
                    <div class="mian_btnbox">
                        <a href="javascript:;" class="fl mian_btn1"><img src="img/btn0.png" /></a>
                        <a href="javascript:;" class="fr mian_btn3">22</a>
                        <a href="javascript:;" class="fr mian_btn2">11</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="">
                    <dl class="mian_tou">
                        <dt class=""><img src="img/tou.png"/></dt>
                        <dd class="">
                            <span class="txt">戴妃 赛里卖</span>
                            <b class="txt mt2"><img src="img/sanjiao.png"/>我在旅途</b>
                        </dd>
                    </dl>
                    <div class="w100">
                        <img src="img/imgg.png" />
                    </div>
                    <h5 class="mian_h5">2016北京欢乐谷</h5>
                    <div class="mian_btnbox">
                        <a href="javascript:;" class="fl mian_btn1"><img src="img/btn0.png" /></a>
                        <a href="javascript:;" class="fr mian_btn3">22</a>
                        <a href="javascript:;" class="fr mian_btn2">11</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</ion-content>