<!--头部-->

<!--End 头部-->

<!--头部-->


<footer class="foot">
    <div class="foot_center">
        <a href="javascript:;" class="col-xs-3 foot_ac">
            <div class="foot_img"><img src="img/tab_icon_sel_4.png" /></div>
            <span>我要</span>
        </a>
        <a href="hudong.html" class="col-xs-3 foot_a">
            <div class="foot_img"><img src="img/tab_icon_nor_2.png" /></div>
            <span>互动</span>
        </a>
        <a href="share.html" class="col-xs-3 foot_a">
            <div class="foot_img"><img src="img/tab_icon_nor_3.png" /></div>
            <span>分享</span>
        </a>
        <a href="geren.html" class="col-xs-3 foot_a">
            <div class="foot_img02"><img src="img/tab_icon_nor_1.png" /></div>
            <span>我</span>
        </a>
    </div>
</footer>
